@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

* {
  box-sizing: border-box;
}

body,
html {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  text-decoration: none;
  color: inherit;
}

nav {
  z-index: 10;
  position: fixed;
  padding: 10px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
nav ul li {
  display: inline-block;
  margin-right: 10px;
}
/*@media(max-width: 900px){
  nav ul {
    display: none;
  }
  nav:hover ul {
    display: block;
  }
  nav ul li {
    display: block;
  }
}*/

footer {
  padding: 10px;
  text-align: center;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 2px solid #000;
  margin: 10px 0;
  padding: 0;
}

.container {
  max-width: 960px;
  padding: 20px;
  margin: 0 auto;
}

.dark {
  color: white;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
}

.hero {
  background-image: url('assets/abs.jpg');
  background-size: cover;
  background-position: center top;
  height: 40vw;
  min-height: 500px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2em;
}

.hero h1,
.hero p {
  margin: 0;
}

.inter {
  height: 40vw;
  min-height: 700px;
  padding: 40px;
  background-image: url('assets/deadlift.jpg');
  background-size: cover;
  background-position: center top;
  filter: grayscale(0.8);
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
}

.inter .container {
  max-width: 700px;
  padding: 0;
}

.inter {
  font-size: 1.4em;
}

.inter h1 {
  text-transform: uppercase;
}
